* {
    font-family : 'Helvetica Neue', 'Roboto';
}

.app {
  background-color: pink;
  height: 50px;
  text-align: center;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

.board {
  width: 75%;
  height: 500px;
  margin-left: 10%;
  border: 3px solid blue;
}

.inputEmail {
    margin: 5% 20% 5% 20%;
}

.loginToSend {
    font-family : 'Helvetica Neue', 'Roboto';
    background-color : rgb(209, 72, 54);
    color : rgb(255, 255, 255);
    width : 190px;
    padding-top : 10px;
    padding-bottom : 10px;
    border-radius : 2px;
    border : 1px solid transparent;
    font-size : 16px;
    font-weight : bold;
}

.deleteWord {
    background-color: red;
}

.addWord {
    background-color: green;
}

.fixedEmail {
  width: 100%;
}

.words {
  font-size : 1.125em;
  float: left;
  margin: 0.2em;
  padding: 0.4em;
}

wordsButton {
    margin : 0.2em;
}

button {
    margin : 0.2em;
}
