.app {
  background-color: pink;
  height: 50px;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

.rooms {
  width: 20%;
  float: left;
  border: 3px solid;
}

.board {
  width: 75%;
  height: 500px;
  margin-left: 10%;
  border: 3px solid blue;
}
.mainbody {
  margin-left: 30%
}

.inputEmail {
  width: 400px;
  height: 450px;
}
