.app {
  background-color: pink;
  height: 50px;
  text-align: center;
  border: 1px solid blue;
}

.bap {
  background-color: red;
  height: 25px;
}

.board {
  width: 75%;
  height: 500px;
  margin-left: 10%;
  border: 3px solid blue;
}

.inputEmail {
  margin: 5% 20% 5% 20%;
}

.fixedEmail {
  width: 100%;
}
